.main-banner{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 60px;
    background-color: #1a1a1a;
    background-image: url("../assets/Mask\ group.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
    .main-banner-text{
        height: 30%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-bottom: 40px;
        h1{
            color: white;
            font-size: 70px;
            font-weight: 900;
            border-bottom: 4px solid white;
            padding-bottom: 10px;
            z-index: 1;
        }

    }
    button{
        background-color: transparent;
        padding: 15px 25px;
        font-size: 15px;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        transition: 0.5s;
    }
}
button:hover{
    background-color: black;
}


// MEDIA QUERIES

@media (max-width:940px){
    .main-banner{
        padding: 0 20px;
        align-items: center;
        .main-banner-text{
            width: 100%;
            text-align: center;
            align-items: center;
            h1{
                width: 100%;
                text-align: center;
                font-size: 40px;
            }
        }
    }
}